# Folders
node_modules
forusall-portal-html-data
src/bots/forusall-update-participant/html/

# Files
.env
tokens.json
.sessions
.user-data
.env.production
.gcp-config.local
.envv

.DS_Store
**/.DS_Store

.claude/
.cursor/
